# Compiled class file
*.class
Codigo/.metadata/*
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/17/b00f938bfec8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/19/b0e1671208c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/1a/60d5a38bfac8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/1f/20ebea6602c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/2/109482ba05c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/20/f0837eac06c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/21/b05047c3fec8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/24/e0445522ffc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/26/50f034f5f9c8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/28/a0afaf24ffc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/2d/b018b23df7c8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/31/b0f4b41608c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/33/906ab15102c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/33/90f95733ffc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/34/50348ab400c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/38/d01e7c7105c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/38/e00b7e8f06c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/3a/d04bd66e08c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/3d/e000933b05c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/3e/f058275d05c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/4/a08b6a6fffc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/42/70de70acfdc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/48/308934a3f6c8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/49/e0b5dd3506c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/50/80e5f054ffc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/51/c0293e44f8c8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/54/8052536bfbc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/55/100902ddfdc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/55/d0d95eebf7c8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/58/6006343c06c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/5a/90ca1e4005c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/5f/4072d97bfdc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/65/807800a304c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/6d/30d6512bffc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/6e/10390d8907c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/6e/f0be1c4a08c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/72/d0804060fac8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/76/c082593105c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/77/407f6daafbc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/7f/50f6b35c08c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/80/206709b000c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/82/7098077afdc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/83/70ec465205c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/83/d04a498f07c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/86/60cab20202c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/8c/20a351a806c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/8e/007320d906c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/92/e07edb8800c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/94/908c368c07c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/9c/b06712dbf5c8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/9c/f0e931e6fec8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/9d/c0b996ccfac8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/a4/b0c4539001c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/a5/20acbd68fec8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/a8/0085880cffc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/a8/90db3d2905c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/a9/20da817ef6c8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/a9/80f8886705c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/b7/801f77d9fbc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/b9/60fb81d6fbc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/bb/40bae29e01c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/bc/1024085df8c8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/bc/2073089501c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/cb/30255f3200c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/ce/802af8a3fac8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/d3/b03ac65701c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/d8/408424bc05c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/d8/d090b4dffbc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/de/b03fdb78f8c8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/e5/b0fed066fbc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/e5/e07ba3ec04c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/e9/70ccacfff8c8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/ea/502899a3ffc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/ef/b0a3905ff8c8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/f/a079b83cfbc8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/f1/100f4b6508c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/f1/1068978308c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/f1/f0156fc2fac8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/f3/e0dd730208c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/f4/40f2fe6405c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/f5/60f589c6fac8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/f5/8025a60c07c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/fa/005693b5f7c8001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.history/fe/a0709b4e05c9001911e4b9e2ecec9a89
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Pizzaria/.indexes/e4/9a/history.index
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Pizzaria/.indexes/e4/e2/history.index
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Pizzaria/.indexes/e4/f6/history.index
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Pizzaria/.indexes/e4/f6/properties.index
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Pizzaria/.markers
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Pizzaria/org.eclipse.jdt.core/state.dat
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.root/19.tree
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
ProjetoEclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/TelaPedido.launch
ProjetoEclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
ProjetoEclipse/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
ProjetoEclipse/.metadata/.plugins/org.eclipse.jdt.core/2061051789.index
ProjetoEclipse/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
ProjetoEclipse/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
ProjetoEclipse/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
ProjetoEclipse/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Pizzaria/2019/8/35/refactorings.history
ProjetoEclipse/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Pizzaria/2019/8/35/refactorings.index
ProjetoEclipse/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
ProjetoEclipse/.metadata/.plugins/org.eclipse.pde.core/SavedExternalPluginList.txt
ProjetoEclipse/.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
ProjetoEclipse/.metadata/version.ini
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Pizzaria/.indexes/e4/9a/history.index
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Pizzaria/.indexes/e4/f6/history.index
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Pizzaria/.indexes/e4/f6/properties.index
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Pizzaria/.markers
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Pizzaria/org.eclipse.jdt.core/state.dat
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
ProjetoEclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
ProjetoEclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
ProjetoEclipse/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
ProjetoEclipse/.metadata/.plugins/org.eclipse.jdt.core/2061051789.index
ProjetoEclipse/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
ProjetoEclipse/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
ProjetoEclipse/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
ProjetoEclipse/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
ProjetoEclipse/.metadata/.plugins/org.eclipse.pde.core/SavedExternalPluginList.txt
ProjetoEclipse/.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
ProjetoEclipse/.metadata/version.ini
